<h1>Hello <%=@user.name%></h1>

<h4>Username: <%=@user.user_name%></h4>


<h4>Company: <%=@user.company%></h4>


<%=link_to "Log-Out", session[@user.id], method: :delete, data:{confirm: "Are you sure?"}%><br><br>
