<div class="jumbotron jumbotron-fluid" style='text-align:center'>
  <div class="container">
    <h1 class="display-3" style ='font-family:NTR ;'>THE STRUGGLE IS REAL</h1>
    <p class="lead">Sometimes, we need a little help . . .</p>
  </div>
</div>



  <div class='container'>

    <div class='row' style='margin:30px 0px -10px 0px ;'>

      <div class='col-6'>
        <h2 style='text-align:center;'>Why You Are Here</h2>
        <p>
          What came first, the program or the language . . ? Everyday more people begin their journey as software developers, web-designers, data-scientists, IT professionals, the list can go on. What do all of these professions have in common? They require you to dive or dabble in source code. It is reasonable then, to see why learning a programming language is an important part of working in the twenty first century.
        </p>

      </div>

      <div class='col-6'>
        <h2 style='text-align:center;'>Why We Are Here</h2>
        <p>
        TheStruggle is your personal guide to understanding the current programming paradigm. Start off by creating a profile, answering a few questions, and we will provide you with insight into which programming languages, tech-companies, and tech-events you should know about. Of course this is all based on our passionate and well studied opinion, but don't worry, we tend to have good ones.
        </p>

      </div>
    </div>
  </div>




<div style='text-align:center; margin-top:60px'>
  <div style='margin:0 0 60 0 ;font-family:yantramanav;'>
    <h1>LANGUAGES</h1>
  </div>

  <!-- Language List -->
  <div class="container" >
    <div class="row" style='background-color:#E4E7EB; border-style:solid; border-color:#A9A9A9'>
      <% Language.all.each_with_index do |language, i| %>
      <div class="col-6" style='padding:50px;'>
        <div ><%= link_to(image_tag("#{language.name.downcase}100.png", size: '75x75') , language_path(language.id)) %></div>
        <div ><h3><%= link_to(language.name, language_path(language.id)) %></h3></div>
        <div ><h6><%=language.short_description%></h6>
        </div>
      </div>
      <% end %>
    <div class="w-100"></div>
  </div>

</div>
