<div class="jumbotron jumbotron-fluid" style='text-align:center'>
  <div class="container">
    <h1 class="display-3" style ='font-family:NTR ;'>THE STRUGGLE IS REAL</h1>
    <p class="lead">Sometimes, we need a little help . . .</p>
  </div>
</div>



  <div class='container'>

    <div class='row' style='margin:30px 0px -10px 0px ;'>

      <div class='col-6' style='border-style:solid; border-left:0;border-top:0;border-bottom:0;'>
        <h2 style='text-align:center; font-family:yantramanav'>Why You Are Here</h2>
        <p>
          Picking up programming can be an overwhelming feat, especially when choosing a language! We understand, and want to help. The secret is, most modern programming languages are capable of the same things! When you hear the phrase, it all comes down to ones and zeros, that isn't too far off. It comes down to you, your workstyle, and your playstyle. You don't have to make this unecessarily challenging decision on your own. Welcome to TheStruggle!
        </p>

      </div>

      <div class='col-6'>
        <h2 style='text-align:center;font-family:yantramanav'>Why We Are Here</h2>
        <p>
        TheStruggle is your personal guide to understanding the where you fit in the programming landscape. Start off by creating a profile and answering a few questions! From there we will use our top-secret algorithm to determine which programming languages, tech-companies, and tech-events you should be aware of. Of course this is all based on our passionate and well studied opinion . . . But don't fret, we tend to have good ones.
        </p>

      </div>
    </div>
  </div>




<div style='text-align:center; margin-top:60px'>
  <div style='margin:0 0 60 0 ;font-family:yantramanav;'>
    <h1 style='font-family:yantramanav; font-weight:900; margin-bottom:30px;'>LANGUAGES</h1>
  </div>

  <!-- Language List -->
  <div class="container" >
    <div class="row" style='background-color:#E4E7EB; border-style:solid; border-color:#A9A9A9'>
      <% Language.all.each_with_index do |language, i| %>
      <div class="col-3" style='padding:50px;'>
        <div ><%= link_to(image_tag("#{language.name.downcase}100.png", size: '75x75') , language_path(language.id)) %></div>
        <div ><h3><%= link_to(language.name, language_path(language.id)) %></h3></div>
        <div ><h6><%=language.short_description%></h6>
        </div>
      </div>
      <% end %>
    <div class="w-100"></div>
  </div>

</div>
