<h1> Welcome to 'The Struggle' </h1>

<%= link_to('View All Editors', editors_path) %> <br>
<%= link_to('View All Languages', languages_path) %>


<h2>Select a Company you would like to work for:</h2>


<%=link_to "Google", recommended_path({company: 'Google'})%>

<%=link_to "Facebook", recommended_path({company: 'Facebook'})%>
